.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navigation-links-navlink {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









.navigation-links-root-class-name9 {
  margin-left: 0px;
  margin-right: 30px;
}

.navigation-links-root-class-name11 {
  margin-left: 0px;
  margin-right: 30px;
}

.navigation-links-root-class-name13 {
  margin-left: 0px;
  margin-right: 30px;
}

.navigation-links-root-class-name15 {
  margin-left: 0px;
  margin-right: 30px;
  background-color: var(--dl-color-gray-white);
}

.navigation-links-root-class-name17 {
  margin-left: 0px;
  margin-right: 30px;
  background-color: var(--dl-color-gray-white);
}

.navigation-links-root-class-name19 {
  margin-left: 0px;
  margin-right: 30px;
  background-color: var(--dl-color-gray-white);
}

.navigation-links-root-class-name21 {
  margin-left: 0px;
  margin-right: 30px;
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .navigation-links-nav {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    align-self: center;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    align-self: center;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    align-self: center;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name8 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name10 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name12 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name14 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name16 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name18 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name20 {
    align-self: center;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    align-self: center;
  }
  .navigation-links-navlink1 {
    align-self: center;
  }
  .navigation-links-navlink2 {
    align-self: center;
  }
  .navigation-links-link {
    align-self: center;
  }
  .navigation-links-root-class-name8 {
    align-self: center;
  }
  .navigation-links-root-class-name10 {
    align-self: flex-start;
  }
  .navigation-links-root-class-name12 {
    align-self: center;
  }
  .navigation-links-root-class-name14 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name16 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name18 {
    align-self: center;
    margin-left: 0px;
  }
  .navigation-links-root-class-name20 {
    align-self: center;
    margin-left: 0px;
  }
}

.enaofficialwebsite-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
.enaofficialwebsite-header {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.enaofficialwebsite-navlink {
  display: contents;
}
.enaofficialwebsite-image {
  width: 138px;
  height: 133px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.enaofficialwebsite-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.enaofficialwebsite-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.enaofficialwebsite-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.enaofficialwebsite-burger-menu {
  display: none;
}
.enaofficialwebsite-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.enaofficialwebsite-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.enaofficialwebsite-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.enaofficialwebsite-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.enaofficialwebsite-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enaofficialwebsite-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.enaofficialwebsite-hero {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 80vh;
  align-items: center;
  padding-left: 0s;
  padding-right: 0s;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.enaofficialwebsite-image1 {
  width: 726px;
  height: 521px;
  object-fit: cover;
}
.enaofficialwebsite-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.enaofficialwebsite-text {
  color: #094bfb;
  font-family: Yuji Syuku;
}
@media(max-width: 991px) {
  .enaofficialwebsite-header {
    background-color: var(--dl-color-gray-white);
  }
  .enaofficialwebsite-hero {
    flex-direction: column;
  }
  .enaofficialwebsite-footer {
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 767px) {
  .enaofficialwebsite-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .enaofficialwebsite-image {
    margin-left: 0px;
    margin-right: 0px;
  }
  .enaofficialwebsite-nav {
    display: none;
  }
  .enaofficialwebsite-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .enaofficialwebsite-icon {
    fill: #094bfb;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .enaofficialwebsite-mobile-menu {
    height: auto;
    display: none;
  }
  .enaofficialwebsite-nav1 {
    align-items: center;
  }
  .enaofficialwebsite-container3 {
    margin-bottom: 20px;
  }
  .enaofficialwebsite-icon2 {
    fill: #094bfb;
    width: 30px;
    height: 30px;
  }
  .enaofficialwebsite-hero {
    padding-left: 0px;
    padding-right: 0px;
  }
  .enaofficialwebsite-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .enaofficialwebsite-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .enaofficialwebsite-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .enaofficialwebsite-container {
    justify-content: space-between;
  }
  .enaofficialwebsite-header {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .enaofficialwebsite-image {
    margin-right: 0px;
  }
  .enaofficialwebsite-icon {
    fill: #094bfb;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .enaofficialwebsite-mobile-menu {
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    margin: auto;
    display: none;
    padding: 16px;
    align-items: stretch;
  }
  .enaofficialwebsite-nav1 {
    align-items: center;
  }
  .enaofficialwebsite-icon2 {
    fill: #094bfb;
    width: 30px;
    height: 30px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .enaofficialwebsite-hero {
    height: auto;
    position: relative;
    min-height: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .enaofficialwebsite-image1 {
    width: 100%;
    height: 70ï¼…;
    margin-top: -20%%;
    padding-right: 0px;
  }
  .enaofficialwebsite-footer {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .enaofficialwebsite-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .enaofficialwebsite-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
