<div>
  <link href="./feature-card3.css" rel="stylesheet" />
  <div class="feature-card3-feature-card">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="feature-card3-image"
    />
    <h3 class="feature-card3-text Heading3"><span>Title Goes Here</span></h3>
    <span class="feature-card3-text1"><span>2020</span></span>
    <span class="feature-card3-text2">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
    </span>
    <div class="feature-card3-container">
      <a
        href="https://google.com"
        target="_blank"
        rel="noreferrer noopener"
        class="feature-card3-link Button"
      >
        <span>Listen</span>
      </a>
    </div>
  </div>
</div>
