<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="ena-official-web-site-about.html" class="navigation-links-navlink">
      <span>About</span>
    </a>
    <a href="ena-official-web-site-news.html" class="navigation-links-navlink1">
      <span>News</span>
    </a>
    <a
      href="ena-official-web-site-works.html"
      class="navigation-links-navlink2"
    >
      <span>Works</span>
    </a>
    <a
      href="https://sgfm.jp/f/enacontact0415"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Contact</span>
    </a>
  </nav>
</div>
