.small-button1-container {
  display: flex;
  position: relative;
}
.small-button1-link {
  color: var(--dl-color-gray-white1);
  margin-top: 0px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #621fd8;
}

