.enaofficialsit-works-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
.enaofficialsit-works-header {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.enaofficialsit-works-navlink {
  display: contents;
}
.enaofficialsit-works-image {
  width: 138px;
  height: 133px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.enaofficialsit-works-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.enaofficialsit-works-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.enaofficialsit-works-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.enaofficialsit-works-burger-menu {
  display: none;
}
.enaofficialsit-works-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.enaofficialsit-works-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.enaofficialsit-works-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.enaofficialsit-works-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.enaofficialsit-works-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enaofficialsit-works-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.enaofficialsit-works-image1 {
  width: 180px;
  align-self: center;
  margin-top: 10px;
  object-fit: cover;
  margin-right: 15px;
}
.enaofficialsit-works-text {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text005 {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text010 {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text015 {
  font-size: 14px;
  align-self: center;
  text-align: left;
  font-family: Shippori Antique;
  line-height: 2;
  margin-left: 0px;
  letter-spacing: 1px;
}
.enaofficialsit-works-text016 {
  color: #000000;
}
.enaofficialsit-works-text018 {
  color: #000000;
}
.enaofficialsit-works-text019 {
  color: #000000;
}
.enaofficialsit-works-text021 {
  color: #000000;
}
.enaofficialsit-works-text022 {
  color: #000000;
}
.enaofficialsit-works-text024 {
  color: #000000;
}
.enaofficialsit-works-text026 {
  color: #000000;
}
.enaofficialsit-works-text028 {
  color: #000000;
}
.enaofficialsit-works-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enaofficialsit-works-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.enaofficialsit-works-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enaofficialsit-works-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enaofficialsit-works-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.enaofficialsit-works-text030 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enaofficialsit-works-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enaofficialsit-works-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enaofficialsit-works-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.enaofficialsit-works-text031 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enaofficialsit-works-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.enaofficialsit-works-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.enaofficialsit-works-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.enaofficialsit-works-text032 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.enaofficialsit-works-text033 {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text038 {
  font-size: 14px;
  align-self: center;
  text-align: left;
  font-family: Shippori Antique;
  line-height: 2;
  margin-left: 0px;
  letter-spacing: 1px;
}
.enaofficialsit-works-text039 {
  color: #000000;
}
.enaofficialsit-works-text041 {
  color: #000000;
}
.enaofficialsit-works-text043 {
  color: #000000;
}
.enaofficialsit-works-text045 {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text050 {
  font-size: 14px;
  align-self: center;
  font-family: Shippori Antique;
  line-height: 2;
  margin-left: 0px;
  letter-spacing: 1px;
}
.enaofficialsit-works-text051 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text052 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text054 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text056 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text058 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text060 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text062 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text063 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text065 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text067 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text069 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text070 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text072 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text074 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text076 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text077 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text078 {
  color: var(--dl-color-gray-black);
}
.enaofficialsit-works-text080 {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text085 {
  font-size: 14px;
  align-self: center;
  font-family: Shippori Antique;
  line-height: 2;
  margin-left: 0px;
  letter-spacing: 1px;
}
.enaofficialsit-works-text086 {
  color: #000000;
}
.enaofficialsit-works-text088 {
  color: #000000;
}
.enaofficialsit-works-text090 {
  color: #000000;
}
.enaofficialsit-works-text092 {
  color: #000000;
}
.enaofficialsit-works-text094 {
  font-size: 20px;
  align-self: center;
  font-family: Shippori Antique;
}
.enaofficialsit-works-text099 {
  font-size: 14px;
  align-self: center;
  font-family: Shippori Antique;
  line-height: 2;
  margin-left: 0px;
  letter-spacing: 1px;
}
.enaofficialsit-works-text100 {
  color: #080808;
}
.enaofficialsit-works-text102 {
  color: #080808;
}
.enaofficialsit-works-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.enaofficialsit-works-text105 {
  color: #094bfb;
  font-family: Yuji Syuku;
}
@media(max-width: 991px) {
  .enaofficialsit-works-text015 {
    margin-left: 0px;
  }
  .enaofficialsit-works-text038 {
    margin-left: 0px;
  }
  .enaofficialsit-works-text050 {
    margin-left: 0px;
  }
  .enaofficialsit-works-text085 {
    margin-left: 0px;
  }
  .enaofficialsit-works-text099 {
    font-size: 15px;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: 0px;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text100 {
    color: #080808;
  }
  .enaofficialsit-works-text101 {
    color: #080808;
  }
  .enaofficialsit-works-text102 {
    color: #080808;
  }
  .enaofficialsit-works-footer {
    height: auto;
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 767px) {
  .enaofficialsit-works-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: transparent;
  }
  .enaofficialsit-works-image {
    margin-left: 0px;
    margin-right: 0px;
  }
  .enaofficialsit-works-nav {
    display: none;
  }
  .enaofficialsit-works-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .enaofficialsit-works-icon {
    fill: #094bfb;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .enaofficialsit-works-text015 {
    font-size: 14px;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text016 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text017 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text018 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text019 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text020 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text021 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text022 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text023 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text024 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text025 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text026 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text027 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text028 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text038 {
    font-size: 14px;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text039 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text040 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text041 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text042 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text043 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text050 {
    font-size: 14px;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text051 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text052 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text053 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text054 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text055 {
    font-size: 11px;
  }
  .enaofficialsit-works-text056 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text057 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text058 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text059 {
    font-size: 11px;
  }
  .enaofficialsit-works-text060 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text061 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text062 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text063 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text064 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text065 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text066 {
    font-size: 11px;
  }
  .enaofficialsit-works-text067 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text068 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text069 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text070 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text071 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text072 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text073 {
    font-size: 11px;
  }
  .enaofficialsit-works-text074 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text075 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text076 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text077 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text078 {
    color: var(--dl-color-gray-black);
    font-size: 11px;
  }
  .enaofficialsit-works-text085 {
    font-size: 14px;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text086 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text087 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text088 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text089 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text090 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text091 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text092 {
    color: #000000;
    font-size: 11px;
  }
  .enaofficialsit-works-text099 {
    font-size: 14px;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text100 {
    color: #080808;
    font-size: 11px;
  }
  .enaofficialsit-works-text101 {
    color: #080808;
    font-size: 11px;
  }
  .enaofficialsit-works-text102 {
    color: #080808;
    font-size: 11px;
  }
  .enaofficialsit-works-text103 {
    font-size: 11px;
  }
  .enaofficialsit-works-footer {
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: var(--dl-color-gray-white);
  }
  .enaofficialsit-works-text105 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .enaofficialsit-works-text106 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .enaofficialsit-works-header {
    padding: var(--dl-space-space-unit);
    background-color: transparent;
  }
  .enaofficialsit-works-image {
    margin-right: 0px;
  }
  .enaofficialsit-works-icon {
    fill: #094bfb;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .enaofficialsit-works-mobile-menu {
    width: 214px;
    height: 304px;
    display: none;
    padding: 16px;
  }
  .enaofficialsit-works-image1 {
    width: 130px;
    margin-right: 15px;
  }
  .enaofficialsit-works-text015 {
    font-size: 13px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .enaofficialsit-works-text038 {
    font-size: 13px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .enaofficialsit-works-text050 {
    font-size: 13px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .enaofficialsit-works-text085 {
    font-size: 13px;
    line-height: 1.8;
    margin-left: 2%;
    margin-right: 2%;
  }
  .enaofficialsit-works-text099 {
    font-size: 13px;
    font-family: Shippori Antique;
    line-height: 1.8;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 1px;
  }
  .enaofficialsit-works-text100 {
    color: #080808;
  }
  .enaofficialsit-works-text101 {
    color: #080808;
  }
  .enaofficialsit-works-text102 {
    color: #080808;
  }
  .enaofficialsit-works-footer {
    height: auto;
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-white1);
  }
  .enaofficialsit-works-text105 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .enaofficialsit-works-text106 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
