.enaofficialsit-news-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #BFF3F7;
}
.enaofficialsit-news-header {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  background-color: #bff3f7;
}
.enaofficialsit-news-navlink {
  display: contents;
}
.enaofficialsit-news-image {
  width: 138px;
  height: 133px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.enaofficialsit-news-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.enaofficialsit-news-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.enaofficialsit-news-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.enaofficialsit-news-burger-menu {
  display: none;
}
.enaofficialsit-news-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.enaofficialsit-news-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.enaofficialsit-news-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.enaofficialsit-news-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.enaofficialsit-news-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enaofficialsit-news-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.enaofficialsit-news-image1 {
  width: 180px;
  align-self: center;
  margin-top: 10px;
  object-fit: cover;
  margin-right: 15px;
}
.enaofficialsit-news-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.enaofficialsit-news-text {
  color: #094bfb;
  font-family: Yuji Syuku;
}
@media(max-width: 991px) {
  .enaofficialsit-news-header {
    background-color: #bff3f7;
  }
  .enaofficialsit-news-footer {
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 767px) {
  .enaofficialsit-news-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .enaofficialsit-news-image {
    margin-left: 0px;
    margin-right: 0px;
  }
  .enaofficialsit-news-nav {
    display: none;
  }
  .enaofficialsit-news-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .enaofficialsit-news-icon {
    fill: #094bfb;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .enaofficialsit-news-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .enaofficialsit-news-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .enaofficialsit-news-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .enaofficialsit-news-header {
    padding: var(--dl-space-space-unit);
  }
  .enaofficialsit-news-image {
    margin-right: 0px;
  }
  .enaofficialsit-news-icon {
    fill: #094bfb;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .enaofficialsit-news-mobile-menu {
    width: 214px;
    height: 304px;
    display: none;
    padding: 16px;
  }
  .enaofficialsit-news-image1 {
    width: 130px;
  }
  .enaofficialsit-news-footer {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .enaofficialsit-news-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .enaofficialsit-news-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
