.enaofficialsit-news-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #BFF3F7;
}
.enaofficialsit-news-image {
  width: 180px;
  align-self: flex-end;
  margin-top: 10px;
  object-fit: cover;
  margin-right: 15px;
}
.enaofficialsit-news-navlink {
  display: contents;
}
.enaofficialsit-news-image1 {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 479px) {
  .enaofficialsit-news-image {
    width: 130px;
  }
}
