.enaofficialsit-about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.enaofficialsit-about-testimonial {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  max-width: auto;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(circle at center, rgb(192, 36, 37) 0.00%,rgb(225, 183, 11) 88.00%,rgb(225, 183, 11) 100.00%);
}
.enaofficialsit-about-image {
  top: 10px;
  left: ０;
  width: 308px;
  height: 85px;
  position: absolute;
  object-fit: cover;
}
.enaofficialsit-about-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.enaofficialsit-about-image1 {
  width: 415px;
  height: 415px;
  align-self: center;
  margin-top: 200px;
  object-fit: cover;
}
.enaofficialsit-about-text {
  color: rgb(12, 12, 12);
  width: auto;
  height: auto;
  font-size: 1.1rem;
  max-width: auto;
  min-width: auto;
  align-self: flex-end;
  margin-top: 10%;
  font-family: Shippori Antique;
  line-height: 2;
  margin-bottom: 0px;
  letter-spacing: 2px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.enaofficialsit-about-text20 {
  font-size: 0.9rem;
}
.enaofficialsit-about-text21 {
  font-size: 0.9rem;
}
.enaofficialsit-about-text22 {
  font-size: 0.9rem;
}
.enaofficialsit-about-text23 {
  font-size: 0.9rem;
}
.enaofficialsit-about-text24 {
  font-size: 0.9rem;
}
.enaofficialsit-about-navlink {
  display: contents;
}
.enaofficialsit-about-image2 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .enaofficialsit-about-testimonial {
    width: 100%;
    height: auto;
  }
  .enaofficialsit-about-image {
    top: ０;
    position: static;
    margin-top: var(--dl-space-space-halfunit);
  }
  .enaofficialsit-about-container1 {
    margin-top: 50%;
    align-items: center;
    justify-content: space-between;
  }
  .enaofficialsit-about-text {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .enaofficialsit-about-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .enaofficialsit-about-testimonial {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .enaofficialsit-about-text {
    width: auto;
  }
}
