.enaofficialsit-about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(45deg, rgb(192, 36, 37) 0.00%,rgb(234, 207, 99) 81.00%,rgb(234, 207, 99) 89.00%,rgb(234, 207, 99) 96.00%,rgb(234, 207, 99) 100.00%);
}
.enaofficialsit-about-image {
  width: 180px;
  align-self: flex-end;
  margin-top: 10px;
  object-fit: cover;
  margin-right: 30px;
}
.enaofficialsit-about-image1 {
  width: 500px;
  height: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  object-fit: cover;
  margin-left: 50px;
}
.enaofficialsit-about-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.enaofficialsit-about-text {
  color: rgb(12, 12, 12);
  width: auto;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: flex-end;
  margin-top: 10%;
  font-family: Shippori Antique;
  line-height: 2;
  margin-bottom: 0px;
  letter-spacing: 2px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.enaofficialsit-about-text01 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text03 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text05 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text06 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text08 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text10 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text11 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text13 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text14 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text16 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text20 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text22 {
  font-size: 1.1rem;
}
.enaofficialsit-about-text24 {
  font-size: 1.1rem;
}
.enaofficialsit-about-navlink {
  display: contents;
}
.enaofficialsit-about-image2 {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 991px) {
  .enaofficialsit-about-container {
    justify-content: flex-start;
  }
  .enaofficialsit-about-image1 {
    align-self: center;
    margin-left: 30px;
  }
  .enaofficialsit-about-container1 {
    margin-top: 0%;
    align-items: center;
    justify-content: space-between;
  }
  .enaofficialsit-about-text {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .enaofficialsit-about-image1 {
    margin-left: 0px;
  }
  .enaofficialsit-about-text {
    color: rgb(12, 12, 12);
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .enaofficialsit-about-text01 {
    font-size: 12px;
  }
  .enaofficialsit-about-text02 {
    font-size: 12px;
  }
  .enaofficialsit-about-text03 {
    font-size: 12px;
  }
  .enaofficialsit-about-text04 {
    font-size: 12px;
  }
  .enaofficialsit-about-text05 {
    font-size: 12px;
  }
  .enaofficialsit-about-text06 {
    font-size: 12px;
  }
  .enaofficialsit-about-text07 {
    font-size: 12px;
  }
  .enaofficialsit-about-text08 {
    font-size: 12px;
  }
  .enaofficialsit-about-text09 {
    font-size: 12px;
  }
  .enaofficialsit-about-text10 {
    font-size: 12px;
  }
  .enaofficialsit-about-text11 {
    font-size: 12px;
  }
  .enaofficialsit-about-text12 {
    font-size: 12px;
  }
  .enaofficialsit-about-text13 {
    font-size: 12px;
  }
  .enaofficialsit-about-text14 {
    font-size: 12px;
  }
  .enaofficialsit-about-text15 {
    font-size: 12px;
  }
  .enaofficialsit-about-text16 {
    font-size: 12px;
  }
  .enaofficialsit-about-text17 {
    font-size: 14px;
  }
  .enaofficialsit-about-text18 {
    font-size: 14px;
  }
  .enaofficialsit-about-text19 {
    font-size: 14px;
  }
  .enaofficialsit-about-text20 {
    font-size: 11px;
  }
  .enaofficialsit-about-text21 {
    font-size: 11px;
  }
  .enaofficialsit-about-text22 {
    font-size: 11px;
  }
  .enaofficialsit-about-text23 {
    font-size: 11px;
  }
  .enaofficialsit-about-text24 {
    font-size: 11px;
  }
  .enaofficialsit-about-text25 {
    font-size: 11px;
  }
}
@media(max-width: 479px) {
  .enaofficialsit-about-image {
    width: 130px;
  }
  .enaofficialsit-about-image1 {
    width: 350px;
    height: 350px;
    align-self: center;
  }
  .enaofficialsit-about-text {
    color: rgb(12, 12, 12);
    width: auto;
    font-family: Shippori Antique;
    line-height: 2;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .enaofficialsit-about-text01 {
    font-size: 12px;
  }
  .enaofficialsit-about-text02 {
    font-size: 12px;
  }
  .enaofficialsit-about-text03 {
    font-size: 12px;
  }
  .enaofficialsit-about-text04 {
    font-size: 12px;
  }
  .enaofficialsit-about-text05 {
    font-size: 12px;
  }
  .enaofficialsit-about-text06 {
    font-size: 12px;
  }
  .enaofficialsit-about-text07 {
    font-size: 12px;
  }
  .enaofficialsit-about-text08 {
    font-size: 12px;
  }
  .enaofficialsit-about-text09 {
    font-size: 12px;
  }
  .enaofficialsit-about-text10 {
    font-size: 12px;
  }
  .enaofficialsit-about-text11 {
    font-size: 12px;
  }
  .enaofficialsit-about-text12 {
    font-size: 12px;
  }
  .enaofficialsit-about-text13 {
    font-size: 12px;
  }
  .enaofficialsit-about-text14 {
    font-size: 12px;
  }
  .enaofficialsit-about-text15 {
    font-size: 12px;
  }
  .enaofficialsit-about-text16 {
    font-size: 12px;
  }
  .enaofficialsit-about-text17 {
    font-size: 13px;
  }
  .enaofficialsit-about-text18 {
    font-size: 1.1rem;
  }
  .enaofficialsit-about-text19 {
    font-size: 1.1rem;
  }
  .enaofficialsit-about-text20 {
    font-size: 10px;
  }
  .enaofficialsit-about-text21 {
    font-size: 10px;
  }
  .enaofficialsit-about-text22 {
    font-size: 10px;
  }
  .enaofficialsit-about-text23 {
    font-size: 10px;
  }
  .enaofficialsit-about-text24 {
    font-size: 10px;
  }
  .enaofficialsit-about-text25 {
    font-size: 12px;
  }
  .enaofficialsit-about-text26 {
    font-size: 1.1rem;
  }
}
