.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navigation-links-navlink {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link {
  color: #094bfb;
  font-size: 26px;
  font-family: Yuji Syuku;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name17 {
  margin-left: 0px;
  margin-right: 20px;
  background-color: #ffffff;
}

@media(max-width: 991px) {
  .navigation-links-nav {
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name18 {
    align-self: flex-start;
  }
}
